﻿@using BusinessLogic.Models
@model AwardVm

@{ 
    var draughts = ViewBag.Draughts as SelectList;
}

@section BodyClasses{
    admin
}

@Html.Partial("Alert")

<div class="panel panel-primary mt-50">
    <div class="panel-heading">
        <span class="caption">
            اضافة جائزة جديدة
        </span>
        <div class="actions">
            <a class="btn btn-sm btn-success" href="@Url.Action("Index")">
                <i class="fa fa-undo"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm("Save", "Awards", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Name, "الاسم")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.Id)
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Name)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Value, "القيمة")
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control", type ="number" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Value)
                        </span>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Unit)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Code, "الكود")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Code, new { @class="form-control"})
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Code)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Order, "الترتيب")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Order, new { @class="form-control", type="number"})
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Order)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.DraughtId, "السحب")
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.DraughtId, draughts, new {  @class ="form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.DraughtId)
                        </span>
                    </div>
                </div>
                <div class="text-right border-top mt-20">
                    <button class="btn btn-success" type="submit">
                        حفظ
                    </button>
                </div>
            }
        </div>
    </div>
</div>