﻿@using BusinessLogic.Models
@model List<AwardVm>

@Html.Partial("Alert")

@section BodyClasses{
    admin    
}
<div class="panel panel-primary mt-50 awards-section">
    <div class="panel-heading">
        <span class="caption">
            الجوائز
        </span>
        <div class="actions">
            <a class="btn btn-sm btn-success" href="@Url.Action("Create")">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-section">
            @if (Model.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                الاسم
                            </th>
                            <th>
                                القيمة
                            </th>
                            <th>
                                الكود
                            </th>
                            <th>
                                السحب
                            </th>
                            <th>
                                خيارات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var award in Model)
                        {
                            <tr>
                                <td>
                                    @award.Order
                                </td>
                                <td>@award.Name</td>
                                <th>@award.Value  @award.Unit</th>
                                <td>@award.Code</td>
                                <td>@award.DraughtName</td>
                                <td>
                                    <div class="btn-group parent">
                                        <a class="btn btn-sm btn-info" href="@Url.Action("Create", new { id = award.Id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form class="hidden" method="post" action="@Url.Action("Delete")">
                                            <input type="hidden" name="id" value="@award.Id" />
                                        </form>
                                        <a class="btn btn-sm btn-danger delete" href="#">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    لا يوجد جوائز حتى الان
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/Awards")
    <script type="text/javascript">
        AwardsScript.OnDeleteClick();
    </script>
}