﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - نظام سحب الجوائز</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body dir="rtl" class="@RenderSection("BodyClasses", required: false)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="nav-section">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        نظام سحب الجوائز
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Request.LogonUserIdentity.IsAuthenticated)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    السحب <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("index", "draught")">كل السحب</a></li>
                                    <li><a href="/draught/create">اضافة سحب جديد</a></li>
                                    <li><a href="@Url.Action("CounterSpeed", "draught")">سرعة السحب</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    الجوائز <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("index", "awards")">كل الجوائز</a></li>
                                    <li><a href="@Url.Action("create", "awards")">اضافة جائزة جديدة</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("winners", "member")">
                                    عرض الفائزين
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ImportUsers", "member")">
                                    اضافة الاعضاء
                                </a>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $.get("@Url.Action("GetCurrentBackGround", "home")")
            .done(function (background) {
                var bg = "";
                if (background != undefined && background != "")
                    bg = background.replace(/\\/g, "/");
                else
                    bg = "/Content/images/default-bg.jpg";

                $("body").css("background-image", `url(${bg})`)
            });
        $("table:not(.solid)").dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Arabic.json"
            }
        } );
    </script>
</body>
</html>
