﻿@using BusinessLogic.Models;

@if (ViewBag.Alert != null)
{
    var alert = ViewBag.Alert as ResultVm;
    <div class="alert alert-dismissable mt-20 @(alert.Status ? "alert-success" : "alert-danger" )">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @alert.Message
    </div>

    if (alert.Errors.Any())
    {
        <div class="alert alert-dismissable mt-20 alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            There are some errors

            <ul class="list-unstyled">
                @foreach(var error in alert.Errors)
                {
                    <li>
                        @error
                    </li>
                }
            </ul>
        </div>
    }
}

