﻿@charset "UTF-8";

@font-face {
    font-family: 'DroidKufi-Bold';
    src: url('fonts/DroidKufi-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/DroidKufi-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/DroidKufi-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/STCDroidKufi-Bold.svg#svgBebasNeue') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('fonts/DroidKufi-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/DroidKufi-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/DroidKufi-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/DroidKufi-Regular.svg#svgBebasNeue') format('svg'); /* Legacy iOS */
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #eee;
    font-family: DroidKufi-Regular;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, div, li, ol, a, span {
    font-family: DroidKufi-Bold;   
}
p, div, li, ol, a, span {
    font-family: DroidKufi-Regular;
}
select.form-control{
    padding: 2px 12px;
}
body:not(.admin):not(.home) h1,
body:not(.admin):not(.home) h2,
body:not(.admin):not(.home) h3,
body:not(.admin):not(.home) h4,
body:not(.admin):not(.home) h5,
body:not(.admin):not(.home) h6,
body:not(.admin):not(.home) p,
body:not(.admin):not(.home) div,
body:not(.admin):not(.home) li,
body:not(.admin):not(.home) ol,
body:not(.admin):not(.home) a,
body:not(.admin):not(.home) span {
    color: #fff;
}
body .navbar .dropdown-menu > li > a {
    color: #78601f;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
body .navbar .dropdown-menu > li:last-child a {
    border-bottom: none;
}
body .navbar .dropdown-menu > li > a:hover {
    background: #a39161;
    color: #fff;
    border-bottom: 1px solid #705304;
}
.nav-section .dropdown-menu{
    padding: 0;
}
@media (min-width: 768px){
    .navbar-right {
        margin-left: 0px;
    }
}
.panel-primary {
    border-color: #a39161;
}
    .panel-primary > .panel-heading {
        color: #fff;
        background-color: #a39161;
        border-color: #6a5d39;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-bottom: 20px;
    padding: 20px 0;
}
.body-content,
.nav-section {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
}
body.admin div.body-content::after,
body.admin .nav-section::after{
    display: none;
}

div.body-content::after,
.nav-section::after {
    content: "";
    background: #322606;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.navbar-inverse {
    background-color: #a39161;
    border-color: #8f6c0f;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-brand{
    color: #fff;
}
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
        background-color: #a39161;
        color: #fff;
    }
span.field-validation-error ,
span.field-validation-error span {
    font-family: tahoma;
    color: #ad0808;
}
.actions{
    float: left;
    margin-top: -5px;
}
.mt-20{
    margin-top: 20px;
}
.border-top{
    border-top: 2px solid #eee;
    padding-top: 20px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.awards-page {

}
.pt-50{
    padding-top: 50px;
}
.mt-50 {
    margin-top: 50px;
}
.border-left{
    border-left: 2px solid #ddd;
}
.border-right {
    border-right: 2px solid #ddd;
}
.mh-500{
    min-height: 500px;
}
.counter{
    padding-top: 50px;
}
.cup-image{
    height:260px;
}
.selected-user-name {
    border: 2px dashed #fff;
    padding: 20px;
    border-radius: 10px;
    width: 397px;
    margin: 20px auto;
    color: #fff;
    font-size: 1.5em;
    visibility: hidden;
}
.visible.selected-user-name {
    visibility: visible;
}
.users {
    height: 635px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.users ul {
    padding: 0 20px;
}
.users ul li {
    padding: 7px 0;
}
.users ul li::after {
    content: "";
    display: block;
    clear: both;
}
.users ul li .award-details {
    display: block;
    background: #46657a;
    height: 44px;
    float: right;
    width: 88%;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.incremental-counter .num {
    color: #a39161;
    width: 45px;
}
    .incremental-counter .num::before {
        background: #a39161;
    }
.users ul li.selected .award-details {
    background: #a39161;
}
.users ul li .award-details .award-order {
    font-weight: bolder;
    font-size: 1.1em;
    background: #fff;
    color: #cb9500;
    font-style: initial;
}
.users ul li.user.selected .award-details .award-order{
    color: #333;
}
.users ul li.user .award-details .award-label {
    background: #fff;
    padding: 2px 5px;
    border-radius: 7px;
    width: 50%;
    display: inline-block;
    color: #46657a;
}
.users ul li.user .user-name {
    margin-right: 15px;
    color: #fff;
}
.users ul li.user .user-name,
.selected-user-name {
    font-family: sans-serif;
    font-weight: bold;
}
.custom-label {
    width: 10%;
    margin: 0 1%;
    height: 44px;
    font-size: 1.8em;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}
.users ul li.user .winner {
    display: none;
    background: #a39161;
    color: #fff;
}
.users ul li.user.selected .winner{
    display: inline-block;
}
.users ul li.user .search {
    background: #46657a;
    color: #fff;
}
.users ul li.user.selected .search {
    display: none;
}
.counter .check{
    font-size: 3em;
}
li.user.selected {
    border-color: #5CBA5C;
    color: #036103;
}
.label-success {
    background-color: #5cb85c;
}
/*
 * Loading Icon
 */
.loading-icon {
    background: #728FCC;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999999;
}

.spinner {
    display: block !important;
    margin: 10px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 45vh;
    left: 50%;
    z-index: 9999999999999999;
}
.spinner.top-abit{
    top: 10%;
}
    .spinner > div {
        background-color: #f6bb23;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Hover */
/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-to-top-right{
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
[disabled]{
    pointer-events: none;
}

/** Style scroll bar **/
/* width */
.awards-page ::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.awards-page ::-webkit-scrollbar-track{
    background: rgb(10, 50, 102, 0.5);
    border-radius: 10px;
}

/* Handle */
.awards-page ::-webkit-scrollbar-thumb {
    background: #d3b871;
    border-radius: 10px;
}

/* Handle on hover */
    .awards-page ::-webkit-scrollbar-thumb:hover {
        background: #a39161;
    }

::-webkit-scrollbar-button:horizontal:increment {
    color: red;
}

.overlay-bg {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}
.select-user {
    width: 400px;
    height: 60px;
    color: #fff;
    background: #a39161;
    border-color: #9d780c;
    border-bottom: 5px solid #896b12;
}

    .select-user:hover,
    .select-user:active,
    .select-user:active:hover, 
    .select-user:focus,
    .select-user[disabled] {
        background: #b89f5e;
        border-color: #9f8644;
        border-bottom: 5px solid #9f8644;
        color: #f8f8f8;
    }
/* Responsive Design */
@media (max-width: 1199px) and (min-width: 1120px){
    .container{
        width: 1100px;
    }
    .incremental-counter .num {
        width: 35px;
        height: 50px;
        line-height: 50px;
    }
}

@media (max-width: 1119px) and (min-width: 992px) {
    .container {
        width: 990px;
    }

    .incremental-counter .num {
        width: 35px;
        height: 50px;
        line-height: 50px;
    }
}

@media(max-width: 991px){
    .cup-image{
        height: 100px;
    }
    .cup-image{
        height: 100%;
    }
    .counter{
        margin-bottom: 50px;
        padding-top: 0;
    }
}
.register-form h4 {
    color: #fff;
    padding:15px 0 0 0;
}
.register-form label{
    color: #fff;
}
.users-count-section {
    margin: 10px auto;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 999999999999999999;
}
    .users-count-section section {
        width: 500px;
        text-align: center;
        margin: 0 auto;
        background: #987314;
        color: #fff;
        font-size: 15px;
        border-radius: 5px;
        padding: 6px;
    }
    @media(max-width: 600px){
        .users-count-section section{
            width: 280px;
        }
    }
@media (min-width: 1200px){
.container {
    width: 1300px;
}}