﻿@model AwardsApp.Models.IndexViewModel
@{
    ViewBag.Title = "الصفحة الشخصية";
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>تعديل الصفحة الشخصية</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>الرقم السرى:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("تغيير الرقم السرى", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
