﻿@using BusinessLogic.Models;

@model DraughtVm

@Html.Partial("Alert")

@section BodyClasses{
    admin
}

<div class="panel panel-primary mt-50 users-section">
    <div class="panel-heading">
        <span class="caption">
             اضافة الاعضاء 
            (الاعضاء الحاليين: 
            <span class="users-count">@ViewBag.UsersCount</span> عضو)
        </span>
        <div class="actions parent">
            <form action="@Url.Action("DeleteAllUsers", "member")" method="get">
                <a class="btn btn-sm btn-danger delete" href="#" data-url="">
                    مسح الاعضاء
                    <i class="fa fa-trash"></i>
                </a>
            </form>

        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm("ImportUsers", "member", FormMethod.Post, new { enctype = "multipart/form-data", id ="SaveUsers" }))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        الملف
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="users-sheet" name="file" accept=".xlsx, .xls" />
                    </div>
                </div>
                <div class="text-right border-top mt-20">
                    <button class="btn btn-success save-users" type="button">
                        حفظ
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<div class="users-count-section hidden">
    <section>
        <div class="file-progress">
            تحميل الملف
            <span class="number">0</span>%
        </div>
        <div>الاعضاء الحاليين: </div>
        <div>
            <span class="count">0</span>
             من 
            <span class="total"></span>
        </div>
    </section>
</div>

@section scripts{
    <script src="~/Content/simpleUpload.min.js"></script>
    @Scripts.Render("~/bundles/Awards")
    <script type="text/javascript">
        AwardsScript.OnDeleteClick();
        AwardsScript.OnSaveUsersClick();
    </script>
}