﻿@using BusinessLogic.Models

@model  List<AwardWithWinnerVm>

@section BodyClasses{
    admin
}
<div class="panel panel-primary mt-50 awards-section">
    <div class="panel-heading">
        <span class="caption">
            الفائزين
        </span>
        <div class="actions">
            @if (Model.Any())
            {
                <a class="btn btn-sm btn-success" id="Print">
                    <i class="fa fa-print"></i>
                </a>
                <a class="btn btn-sm btn-warning" href="@Url.Action("ExportWinnersFile", "member")">
                    <i class="fa fa-file"></i>
                </a>
            }
        </div>
    </div>
    <div class="panel-body">
        <div class="table-section" id="Printable">
            @if (Model.Any())
            {
                <table class="table table-bordered table-striped solid">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                الجائزة
                            </th>
                            <th>
                                القيمة
                            </th>
                            <th>
                                الفائز
                            </th>
                            <th>
                                رقم الفائز
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var awardWithWinner in Model)
                        {
                            <tr>
                                <td>
                                    @awardWithWinner.Award.Order
                                </td>
                                <td>@awardWithWinner.Award.Name</td>
                                <th>@awardWithWinner.Award.Value</th>
                                <td>@awardWithWinner.UserName</td>
                                <td>@awardWithWinner.MemberId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    لا يوجد فائزين حتى الان
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/Awards")
    <script type="text/javascript">
        AwardsScript.OnPrintClick();
    </script>
}
