﻿@using BusinessLogic.Models
@using BusinessLogic.ViewModels

@model List<AwardWithWinnerVm>

@{
    var counterSpeed = ViewBag.CounterSpeed as CounterSpeedVm ?? new CounterSpeedVm();
    var speed = counterSpeed.Speed;
}

@section bodyClasses{
    home
}
<section class="awards-page pt-50">
    <div class="row">
        <div class="col-md-5 col-md-push-7">
            <section class="counter text-center">
                <div class="cup-image">
                    <img src="~/Content/images/cup.png" class="hidden" />
                </div>
                <div class="selected-user-name"></div>
                <div class="incremental-counter" dir="ltr" data-digits="8" data-value="0"></div>
                <button type="button" class="btn btn-success mt-20 select-user hidden">
                    سحب
                    <span class="award-name"></span>
                </button>
            </section>
        </div>
        <div class="col-md-7 col-md-pull-5">
            <section class="users mh-500">
                @if (Model.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var awardwithWinner in Model)
                        {
                            <li data-order="@awardwithWinner.Award.Order" class="user  @(awardwithWinner.IsAwarded ? "selected" : "")">
                                <span class="award-details">
                                    <i class="badge award-order">
                                        @awardwithWinner.Award.Order
                                    </i>
                                    <span class="award-label">
                                        @awardwithWinner.Award.Name
                                    </span>
                                    <span class="user-name">
                                        @Html.Raw(awardwithWinner.IsAwarded ? awardwithWinner.UserName : "<i class='fa fa-question'></i>")
                                    </span>
                                </span>
                                <span class="custom-label winner">
                                    <i class="fa fa-trophy"></i>
                                </span>
                                <span class="custom-label search">
                                    <i class="fa fa-search"></i>
                                </span>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="alert alert-dismissable alert-warning">
                        لا تواجد جوائز فى السحب الفعال حتى الان
                    </div>
                }
            </section>
        </div>
    </div>
</section>

<div class='loading-icon'></div><div class='spinner'> <div class='rect1'></div> <div class='rect2'></div> <div class='rect3'></div> <div class='rect4'></div> <div class='rect5'></div></div>

@section scripts{
    @Scripts.Render("~/bundles/Awards")
    <script type="text/javascript">
        var selectUserUrl = '@Url.Action("SelectUser")';
        var awards = @Html.Raw(Json.Encode(Model));
        counterSpeed = @speed;
        AwardsScript.init();
    </script>
}