﻿@using BusinessLogic.ViewModels

@model CounterSpeedVm

@Html.Partial("Alert")

@section BodyClasses{
    admin
}

<div class="panel panel-primary mt-50">
    <div class="panel-heading">
        <span class="caption">
           سرعة عداد السحب
        </span>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm("CounterSpeed", "Draught", FormMethod.Post))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Speed, "  سرعة عداد السحب بالثوانى")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Speed, new { @class = "form-control" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Speed)
                        </span>
                    </div>
                </div>
                <div class="text-right border-top mt-20">
                    <button class="btn btn-success" type="submit">
                        حفظ
                    </button>
                </div>
            }
        </div>
    </div>
</div>
