﻿@using BusinessLogic.Models;

@model DraughtVm

@Html.Partial("Alert")

@section BodyClasses{
    admin    
}

<div class="panel panel-primary mt-50">
    <div class="panel-heading">
        <span class="caption">
            اضافة سحب جديدة
        </span>
        <div class="actions">
            <a class="btn btn-sm btn-success" href="@Url.Action("Index")">
                <i class="fa fa-undo"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            @using (Html.BeginForm("Save", "Draught", FormMethod.Post, new {enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Name, "الاسم")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.Id)
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Name)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Value, "القيمة")
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Value, new { @class = "form-control"})
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.Value)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.IsActive, "فعال")
                    </div>
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.IsActive)
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.BackgroundFile, "الخلفية")
                    </div>
                    <div class="col-md-10">
                        @if(Model != null && Model.BackgroundPath != null)
                        {
                            <div class="thumbnail">
                                @Html.HiddenFor(m => m.BackgroundPath)
                                <img src="@Model.BackgroundPath" width="200" />
                            </div>
                        }
                        @Html.TextBoxFor(m => m.BackgroundFile, new { @class = "form-control", type = "file" })
                        <span class="help-block">
                            @Html.ValidationMessageFor(m => m.BackgroundFile)
                        </span>
                    </div>
                </div>
                <div class="text-right border-top mt-20">
                    <button class="btn btn-success" type="submit">
                        حفظ
                    </button>
                </div>
            }
        </div>
    </div>
</div>

