﻿@using BusinessLogic.Models
@model List<DraughtVm>

@Html.Partial("Alert")

@section BodyClasses{
    admin
}

<div class="panel panel-primary mt-50 awards-section">
    <div class="panel-heading">
        <span class="caption">
            السحب
        </span>
        <div class="actions">
            <a class="btn btn-sm btn-success" href="@Url.Action("Create")">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-section">
            @if (Model.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>
                                الاسم
                            </th>
                            <th>
                                القيمة
                            </th>
                            <th>
                                فعال
                            </th>
                            <th>
                                الخلفية
                            </th>
                            <th>
                                خيارات
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var draught in Model)
                        {
                            <tr>
                                <td>@draught.Name</td>
                                <td>@draught.Value</td>
                                <td>
                                    <span class="label @(draught.IsActive ? "label-success": "label-danger")">
                                        <i class='fa @(draught.IsActive ? "fa-check": "fa-times")'></i>
                                    </span>
                                </td>
                                <td>
                                    <div class="img-thumbnail">
                                        <img src="@draught.BackgroundPath"  width="50" height="50"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group parent">
                                        <a class="btn btn-sm btn-info" href="@Url.Action("Create", new { id = draught.Id })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form class="hidden" method="post" action="@Url.Action("Delete")">
                                            <input type="hidden" name="id" value="@draught.Id" />
                                        </form>
                                        <a class="btn btn-sm btn-danger delete" href="#">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning">
                    لا يوجد سحب حتى الان
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/Awards")
    <script type="text/javascript">
        AwardsScript.OnDeleteClick();
    </script>
}
